*~
*.a
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
*.l[ao]
*.o
stamp-h1
/archlinux/pkg
/archlinux/src
/archlinux/*.zip
/archlinux/*.pkg.tar.*
